---
export interface ProjectData {
	title: string;
	title_en?: string;
	description: string;
	description_en?: string;
	image?: string;
	url?: string;
}

interface Props {
	project: ProjectData;
}

const { project } = Astro.props as Props;
---

{
	project.url ? (
		<a
			class="card card--link"
			href={project.url}
			target="_blank"
			rel="noopener noreferrer"
		>
			{project.image && (
				<div class="card-image">
					<img
						src={project.image}
						data-lang-ja={`${project.title} のサムネイル`}
						data-lang-en={`${project.title_en || project.title} thumbnail`}
						alt={`${project.title} のサムネイル`}
						loading="lazy"
					/>
				</div>
			)}
			<div class="card-content">
				<h2
					data-lang-ja={project.title}
					data-lang-en={project.title_en || project.title}
				>
					{project.title}
				</h2>
				<p
					data-lang-ja={project.description}
					data-lang-en={project.description_en || project.description}
				>
					{project.description}
				</p>
			</div>
		</a>
	) : (
		<div class="card">
			{project.image && (
				<div class="card-image">
					<img
						src={project.image}
						data-lang-ja={`${project.title} のサムネイル`}
						data-lang-en={`${project.title_en || project.title} thumbnail`}
						alt={`${project.title} のサムネイル`}
						loading="lazy"
					/>
				</div>
			)}
			<div class="card-content">
				<h2
					data-lang-ja={project.title}
					data-lang-en={project.title_en || project.title}
				>
					{project.title}
				</h2>
				<p
					data-lang-ja={project.description}
					data-lang-en={project.description_en || project.description}
				>
					{project.description}
				</p>
			</div>
		</div>
	)
}
